{
  "root": true,
  "env": {
    "commonjs": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-console": "off",
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "array-element-newline": [
      "error",
      "never"
    ],
    "array-bracket-newline": [
      "error",
      "never"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "switch-colon-spacing": "error",
    "key-spacing": "error",
    "comma-spacing": "error",
    "arrow-spacing": "error",
    "arrow-body-style": "error",
    "no-unused-vars": "error"
  }
}